# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Libraries
*.lib
*.a
*.so
*.dll

# Dependency files
*.d

# Precompiled headers
*.gch
*.pch

# Build folders
bin/
obj/
build/

# Debug files
*.pdb

# Temporary files
*~
*.swp

# IDE specific files
.vscode/
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters

.pio/**


*.zip
